<% form_for @profile,:profile, :url => my_profile_path  do |form| -%>
  <ul class="project_filter" style="padding-left:2px;">
    <li class="first"><%= link_to "Notifications", my_settings_url, :class => "" %></li>

    <li class="last"><%= link_to "Account", "#account", :class => "active",:onclick => "account_settings(#{current_profile.id});" %></li>
  </ul>
  <br />
  <br />
  <br />
  <br />
  <%= form.field_for :username,:label => "Username",
    :class => "username" %>
  <%= form.field_for :password, :as => :password_field, :class => "password_field" , :label => "New Password"%>

  <%= form.field_for :password_confirmation, :as => :password_field, :label => "Password Confirmation",
    :class => "password_field" %>
  <%= form.field_for :email,:label => "Email",
    :class => "email" %>

  <%=hidden_field_tag 'account','account'%>
  <label class="required">Time Zone</label>
  <div class="input_frame">
    <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :label => "Time Zone" %><br /><br />
  </div>
  <label class="required">Newsletter</label>
  <div class="input_frame">
    <%= form.check_box :newsletter, :label => "Newsletter"%>
    <strong> Please include me in Original Projects email updates!</strong>
  </div>
  <button class="large green" type="submit">Save Changes</button>
<% end -%>

