<% form_for @profile,:profile, :url => password_update_accesses_path  do |form| -%>
  <%= render_messages %>
  <ul class="notification_filter" style="padding-left:2px;">
    <li class="first"><%= link_to "Notifications", my_settings_url %></li>
    <li class="last"><%= link_to "Account", password_accesses_url,:class=>"active"%></li>
  </ul>
  <br />
  <br />
  <br />
  <br />
  <%= form.field_for :email,:label => "Email",
    :class => "email" %>
   <%#= form.field_for :username,:label => "Username",
    :class => "username" %>
  <%= form.field_for :password, :as => :password_field, :class => "password_field" , :label => "New Password"%>
  <%= form.field_for :password_confirmation, :as => :password_field, :label => "Password Confirmation",
    :class => "password_field" %>
  
  <%if !current_profile.facebook_id.blank?%>
  <label for="facebook" class="required">Facebook</label>
  <br />
    <div class="input_frame" style="padding-top: 15px; padding-bottom:15px;">
      <%=link_to "Disconnect this account from Facebook",fb_disconnect_accesses_path,:method=>:post,:confirm=>"Are you sure you want to disconnect this account from Facebook"%>
      
    </div>
  <%else%>
  <%#*<label for="facebook" class="required">Facebook</label>%>
  <%#*<br />%>
      <%#*<div class="input_frame">%>
        <%#*<span style="float:left;">%>
<%#= fb_connect_javascript_tag %>
        <%#= init_fb_connect "XFBML",:js=>'jquery'%>
        <%#= fb_login_and_redirect(facebook_op_url) %>
        <%#*</span>%>
        <%#*<span style="float:left; padding:5px 0px 0px 10px;">Connect my Facebook with OP</span>%>
        <%#*<div class="clear" style="height:10px;"></div>%>
      <%#*</div>%>
    <%end%>
  

  <%if !current_profile.member_id.blank? %>
  <label for="facebook" class="required">Linkedin</label>
  <br />
    <div class="input_frame" style="padding-top: 15px; padding-bottom:15px;">
      <%=link_to "Disconnect this account from Linkedin",linkedin_disconnect_accesses_path,:method=>:post,:confirm=>"Are you sure you want to disconnect this account from Linkedin"%>
      
    </div>
  <%else%>
  <%#*<label for="facebook" class="required">Linkedin</label>%>
  <%#*<br />%>
    <%#*<div class="input_frame">%>
      <%#*<span style="float:left;"><script type="IN/Login" data-onAuth="onLinkedInAuth"></script></span>%>
      <%#*<span style="float:left; padding:2px 0px 0px 10px;">Connect my Linkedin with OP</span>%>
    <%#*<div class="clear" style="height:10px;"></div>%>
    <%#*</div>%>
  <%end%>
  <label class="required">Time Zone</label>
  <div class="input_frame">
    <%= form.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :label => "Time Zone" %><br /><br />
  </div>
  <label class="required">Newsletter</label>
  <div class="input_frame">
    <%= form.check_box :newsletter, :label => "Newsletter"%>
    <strong> Please include me in Original Projects email updates!</strong>
  </div>
   <label class="required">Delete Account</label>
  
 
 <div class="input_frame" style="padding-top: 15px; padding-bottom:15px;">
      <%=link_to "Delete my OriginalProjects Account",delete_profile_account_accesses_path%>

    </div>
 

  <button class="large green" type="submit">Save Changes</button>



<% end -%>

<script type="text/javascript">
  function onLinkedInAuth() {
    IN.API.Profile("me")
    .result( function(me) {
      var id = me.values[0].id;
      var first_name = me.values[0].firstName;
      var last_name = me.values[0].lastName;
      document.cookie = "window_name="+id;
      document.cookie = "window_first_name="+first_name;
      document.cookie = "window_last_name="+last_name;     
      if (id)
              window.location.replace("http://www.originalprojects.com/accesses/email_linkedin");
   
    });
  }
</script>