<script src="/javascripts/jquery-tools.js" type="text/javascript"></script>     
<script>
  $(document).ready(function() {

    $("div.edititem").tooltip({ effect: 'fade'}).dynamic({ bottom: { direction: 'down', bounce: true } });
  });
</script>
<style type="text/css">
  div.input_frame {
    width: 480px;
  }
</style>
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
  <%
  project = @project
%>
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><%= link_to "Details", edit_project_url(project), :class => "first" %></li>
    <!--<li class="ui-state-default ui-corner-top"><%#= link_to "Media", edit_project_images_path(project) %></li>-->
  </ul>
</div>
<br />
<h2>Edit Details for <%= project.title %></h2>
<br />
<% form_for setup_with(@project, :images), :html => { :multipart => true }, :builder => OriginalProjects::FormBuilder do |form| %>

  <div>

    <% form.field_for :title, :label => "Project Title",:maxlength => 250, :autocomplete => 'off' do %>
      <%= form.hidden_field :slug %>
      <p class="small_note">originalprojects.com/projects/<span id="project_slug_display"><%= @project.slug %></span></p>
      <p id="project_slug_error" class="hidden small_note error">Sorry, that project title is already taken. Please choose something else.</p>
    <% end %>

    <%= form.field_for :short_description,:rows => 3, :maxlength => 150, :label => "Project Tagline", :note => "Please describe your project in 150 characters or less." %>
    <label class="required">Category
      <span class="error"><%=@text%></span>
    </label>

    <div class="input_frame">
      <%= form.collection_select :projectcategory_id,Projectcategory.all, :id, :name, {:include_blank => 'Please Select a Category'}%><br /><br />
    </div>

    <%= form.field_for :description,:class => "mceEditor", :rows => 12, :label => "Project Description", :note => "What's your project about? If you are copying text from MS Word, please click on the first button, copy text into box and then hit INSERT." %>
    <label class="required">Class
      <span class="error"><%=@text%></span>
    </label>
    <div class="input_frame">
      <%= form.collection_select :batch_id,Batch.all, :id, :name, {:include_blank => 'Please Select a Class'}%><br /><br />
    </div>

  <%#= form.field_for :location,:label => "Location", :note => "Where is your project located? (e.g., Durham, NC; Paris, France; anywhere)"%>




    <%= form.field_for :resources_needed, :rows => 4, :label => "Resources Wanted",:class => "required" ,:note => %Q[
  Briefly explain who or what you need to further develop this project. This info will help us connect
  you with potential team members&mdash;and help users find you. ]
  %>

    <%= form.field_for :current_resources, :rows => 4, :label => "Current Resources", :note => %Q[
  Briefly explain the resources you currently have. This info will help us connect you with potential
  team members&mdash;and help users find you. ]
  %>

    <%= form.field_for :tag_list, :rows => 4, :label => "Tag List", :as => :text_area,
      :note => "Enter a comma-separated list of words or phrases that describe your project. These tags will help people find your project via search."
  %>

    <div class="input_frame">
      <%= form.check_box(:public) %>
      Make this project public (any user can access the project)
    </div>

    <label class="required">Project Membership</label>
    <br />
    <div class="input_frame">
      <ul>
        <li>
          <%= form.radio_button :membership_status, "open" %>
          <strong>Open</strong> (any user can join the project as a team member)
        </li>
        <li>
          <%= form.radio_button :membership_status, "invite" %>
          <strong>Invite Only</strong> (only users you invite, or invite requests you approve,
          can join the project as a team member)
        </li>
        <li>
          <%= form.radio_button :membership_status, "closed" %>
          <strong>Closed</strong> (the project is not looking for new team members)
        </li>
      </ul>
    </div>

    <label class="required">Choose a Project Avatar <span class="fade small_note">(JPG, GIF, or PNG format)</span></label>
    <br />
    <div class="input_frame" style="overflow: hidden">
      <div class="avatar">
        <%= image_tag(@project.avatar.url(:avatar)) unless @project.avatar.blank? %>
      </div>
      <div class="clear"></div>
      <%= form.file_field :avatar, :size => 15 %>
      <%= form.hidden_field :avatar_cache %>
      <p class="smaller">Maximum file size of 5 MB. Avatars will be resized to be 174 pixels wide.</p>
    </div>


    <label class="required">Upload Images to Project Slide Show</label>
    <br/>

    <div class="input_frame">
      <% if @project.errors.on("images.attachment").present? -%>
        <p class="error">
          You attempted to upload a disallowed file type. JPG, GIF, and PNG formats are accepted.
        </p>
      <% end -%>
      <p class="small_note">Mouseover image thumbnails below to view each image in larger size.</p>
      <div id="image_collection" style="display:block;">
        <%@coverslide=@project.images[0].id%>
        <% form.fields_for :images do |image_form| %>
        
       
          <%= render :partial => 'image_form', :locals => {:form => image_form} %>
        <% end %>
      </div>
      <button id="add_image">Add More Images</button>
      <p class="smaller">Maximum file size of 5 MB. Images will be resized to fit in a 453×360 slideshow.</p>
      <p class="smaller">Only JPG, GIF, and PNG formats are accepted</p>
    </div>

    <h2>Video and other links</h2>
    <div class="input_frame" style="width:660px;">
      <div id="link_collection">
        <small>Links to <a href="http://www.youtube.com" target="_blank">YouTube</a> and <a href="http://www.vimeo.com" target="_blank">Vimeo</a> videos will appear under "Video" in your project's "Media" tab with a thumbnail link, and the videos will pop-up in an embedded player.  Other links will appear in the "Links" section.<br /><br />

        </small>
        <% form_for setup_with(@project, :links), :url => project_url(@project), :method => :post do |form| -%>
          <% form.fields_for :links do |link_form| %>
            <%= render :partial => 'images/link_form', :locals => {:form => link_form} %>
          <% end %>
        </div>
        <button id="add_link">Add Another Link</button><br />
    <%#*<button class="large green" type="submit">Save Changes</button>%>
      </div>

    <%end%>







    <%= form.field_for :url, :label => "Project Website" %>

    <p>
      <%#=form.submit "submit", :class=>"large green"%>
      <button class="large green" type="submit">Save Changes</button>
      (Note: all settings can easily be edited even after they’ve been saved.)
    </p>
  </div>


  <% content_for :javascript do %>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        setupMultiFields('image', <%= generate_form_template(form, :image) %>);
        setupMultiFields('link', <%= generate_form_template(form, :link, :class_name => 'ProjectLink') %>);
      });
    </script>
  <% end %>

<% end %>
