
<style>
  #coverslide_name{


position: absolute;
margin-left: 40px;
width: 175px;
border:rgb(37, 138, 186) solid 1px;




}
#coverslide_nameinner{
   color: rgb(37, 138, 186);
    font:bold medium sans-serif;
  text-align:center;
  width: 175px;
  margin-left: 60px;
  margin-top: 13px;
  position: absolute;
}
</style>

  

  
<div class="image" style="margin-bottom:10px;">
  <% if form.object.new_record? %>
  
    <%= form.file_field :attachment, :class => 'with_icon' %>
  <% else %>

     <div class="edititem">
       
       
    <%= image_tag form.object.attachment.url(:thumbnail), :style=>'float:left;' %>
  <%#if current_profile.is_originator?(@project)%>
       <%#*<div class="delete_image_field" style="float:right;">%>
      <%#= form.check_box '_delete' %>
      <%#= form.label(:_delete, "Delete") %>
    <%#*</div>%>
        <%# end %>
     </div>
  <div class="tooltip">
  
 
       <%= image_tag form.object.attachment.url(:avatar),:class => 'project_image' %>
     
                 </div>
 <%#*cover slide code%>


  
<%if form.object.id==@coverslide%>

  <div id="coverslide_name"><%=image_tag "Smallarrow.png",:size=>'55x35'%></div><div id="coverslide_nameinner">Cover Slide</div>
  <%end%>
  

  <%if current_profile.is_originator?(@project)%>
  <div class="delete_image_field"style="display:block">

      <%= form.check_box '_destroy' %>
      <%= form.label(:_destroy, "Delete") %>
    </div>
  <% end %>

  <% end %>
  <div class="clear"></div>
</div>
