

<% if project -%>
<div class="service_container" style="border: 1px solid;border-color: #cccccc;">
  <div style="width:140px; float:left;"> <%= link_to(image_tag(project.avatar.url(:small), :class => 'border',:width => '110px',:height => '110px'), project_path(project),:class => 'img_link',  :style=>'padding-bottom:0px;') -%>
 <br/>
 <%#if logged_in?  &&  !current_profile.members.collect(&:id).to_s.include?(project.originators.collect(&:id).to_s) && !current_profile.originated_projects.include?(project)%>
 <%#*<span  style="position:relative; top:0px; left:0px;">%>
<%#=link_to(image_tag('/images/add_to_network.png' ),networks_path(:member_id => "#{project.originators.collect(&:id).join(":")}"), :method => :post)%>
  <%#*</span>%>

 <%#else%>
   
   <%#if logged_in?%>
 <%#if current_profile.members.collect(&:id).to_s.include?(project.originators.collect(&:id).to_s)%>
 <%#=link_to(image_tag('/images/add_to_network_minus.png' ),delete_networks_path(:member_id => "#{project.originators.collect(&:id)}"), :method => :delete,:confirm=>"Are you sure you want to delete this contact from your network.")%>
<%#end%>

 
<%#else%>
   <%#*<span style="float:left; width:110px; text-align:center;">%>


   <%#*</span>%>
   <%#end%>


   <%#end%>
 
 </div>
<style>
div#dRating{float:right; background:url(/images/Peer_rate.png) no-repeat 0 0; width: 60px; height:60px; margin-top:-55px;}
div#dRatingRight{float:right; background:url(/images/Pro_rate.png) no-repeat 0 0; width: 60px; height:60px; margin-top:0px;}

</style>

	<div class="service_info">
	  <h2 style="padding-top:0px;line-height:1.1em;">
      <%= link_to truncate(project.title, :length => 30), project_path( project ) -%>
    </h2>
          <p style="width:275px"><%=truncate(project.short_description, :length => 120)%><% if project.short_description.length > 35 %> <%=link_to "More",project_path(project)%><%end%>
<div id="dRating">
<div style="font-size: 18px; color: white; padding-left:5px; padding-top: 17px;"><%= number_with_precision(project.average_rating,:precision => 1) %></div>
<div style="font-size: 10px; color: white; padding-left:33px; padding-top: 4px;"><%= project.ratings_count %></div>
</div>

<br/>
<div id="dRatingRight">
<div style="position: absolute; float: right; font-size: 18px; color: white; padding-left:6px; padding-top:18px;" id="spAveragePro"><%= number_with_precision(project.average_rating_pro,:precision => 1) %></div>
<div style="float: left; font-size: 10px; color: white; padding-left:33px; margin-top: 44px;" id="spCountPro"><%= project.ratings_count_pro %></div>
</div>

 <br/>
      <strong><%= if originators.count == 1 then "Originator" else "Originators" end %>:</strong> <%= originators.map(&:name).to_sentence %><br/>
      <strong><%= if originators.count == 1 then "Location" else "Locations" end %>:</strong>
      <%= originators.map(&:location).to_sentence %><br/>
      <strong>Category: </strong> <%= project.projectcategory.name unless project.projectcategory.nil? %>
			<br/>
      </p>


	</div>
</div>
<% end -%>


