
<p>Hi <%=@user_username%>,</p>
<%=link_to "#{@username}",@username_profile_url%> <%=link_to "commented",@project_blog_comment_url%>  on <%=link_to "#{@orig_username}",@orig_username_profile_url %> blog entry for <%=link_to "#{@project_name}",@project_url%> on Original Projects.

<p>Yours truly, </p>
<p>The Original Projects Team</p>
<p>If you don’t want to receive these notifications, just log into your <%=link_to "Original Projects",my_settings_url%> account and change your notification settings.</p>





