<p>Hi <%=@requester_name%>,</p>

<p>Your request to join <%=link_to "#{@project_name}",@project_url%> has been declined.</p>

But don’t worry, there are many other projects in the sea of <%=link_to "Original Projects",root_url%>!

Go check out some more <%=link_to "original projects",projects_url%> or start your own Original Project now.

<p>Yours truly, </p>

<p>The Original Projects Team</p>

<p>If you don’t want to receive these notifications, just log into your <%=link_to "Original Projects",my_settings_url%> account and change your notification settings.</p>









