<p>Hi <%=@recipent_name%>,</p>
<p>You have received a message from <%=link_to @display_name,@display_name_profile_url %> through Original Projects.</p>
<p><%=@display_name%> wrote: </p>
</ br>
<p><%= @message %></p>
</ br>
<p>To reply to this message,please click on the link below:</p>
</ br>
<p><%= inbox_message_url( :id => Message.to_param(@message_id),:reply=>'yes',:rto=>'all') %></p>
<p>Yours truly, </p>
<p>The Original Projects Team</p>
<p>If you don’t want to receive these notifications, just log into your <%=link_to "Original Projects",my_settings_url%> account and change your notification settings.</p>